body {
 height: 0;
background: black;
}
/*//------ MOBILE ----*/
.wrapper {
  background: black;
  height: 100vw;
}
.size {
  float: left;
  border-right: 
}
.size div {
  display: inline-block;
  border-left: solid 2px #4c384a;
  text-decoration: underline;
  font-size: 13px;
  padding: 2px 5px;
  color: #fff;
  cursor: pointer;
}
.size div:first-child {
  border: none;
}
.color {
  float: right;
}
.color div {
   display: inline-block;
   border-right: solid 2px #4c384a;
   text-decoration: underline;
   padding: 2px 5px;
   font-size: 13px;
   color: #fff;
   cursor: pointer;
}
.button {
  width: 90px;
  height: 28px;
  font-size: 20px;
}
.color div:last-child {
  border: none;
}
.blank {
  min-height: 5vw;
}
.content {
  background: #292929;
  padding-top: 10vw;
  border: solid 2px #fff;
  max-width: 400px;
}
.clock {
  background: #292929;
  min-height: 200px;
}
.clockFace {
  background: transparent;
  border: none;
  color: red;
  width: 280px;
  height: 35px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}
.copy {
  font-size: 25px;
  color: silver;
}
.nav {
}
.nav div {
  color: #fff;
  cursor: pointer;
}
.menu {
 padding-top: 20px;
 padding-bottom: 20px;
}
.menu div {
  width: 130px;
  text-align: left;
  color: #fff;
  cursor: pointer;
}
footer a {
  border-left: solid 2px #4c384a;
  font-weight: bold;
  display: inline-block;
  padding: 1px 3px;
  font-size: 13px;
  color: #fff;
}
footer a:first-child {
  color: #666659;
  border: none;
}
.none {
  display: none;
}
.button {
  position: relative;
  top: -13px;
  display: inline;
  background-color: #9f9f9f;
  margin-left: 1px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 33px;
  text-decoration:none;
  color:#fff;
  background-image: linear-gradient(bottom, rgb(1,155,235) 0%, rgb(222,111,00) 0%);
  border-radius: 7%;
  background-repeat: no-repeat;
} 
.button:before {
  background-color: #658080;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  left: -2px;
  top: 5px;
  z-index: -1;
  border-radius: 6px;
  box-shadow: 0px 1px 0px #fff;
}
.button:active::before {
    top:-2px;
}














































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































   
